// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    .content {
        flex: 1;
    }
}

@keyframes animate8345 {

    0%,
    100% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

.titleForm {
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #2d60ec, #3ccfda);
    font-size: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate8345 9s linear infinite;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.all {
    display: flex;
    justify-content: space-between;
    background-image: url("1302522.jpg");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;

}

.primary {
    width: 50%;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.form {
    width: 100%;
}


#myForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin-left: 80px;
    width: 100%;
}

.all-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.help-button {
    position: relative;
}

.help-button .tooltip {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.help-button:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}


.tooltip {
    position: absolute;
    z-index: 1;
}